.netby-client {
  display: grid;
  grid-template-columns: [full-start] 10% [main-start] 80% [main-end] 10% [full-end];

  > * {
    grid-column: main-start/main-end;
  }

  > header,
  > footer {
    grid-column: full-start/full-end;
  }
}

body {
  background-color: var(--color-gray-100);
}

a:hover {
  color: var(--color-blue-600);
}

b {
  font-weight: 600;
}